@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --blue: #162f4b;
  /* --green: rgb(56, 212, 156); */
  --green: #42daa7;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(56, 212, 156, 1) 31%,
    rgba(39, 84, 135, 1) 97%
  );
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: smooth;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
